html, body {
  height: 100%;
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
}

.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.wrap {
  margin-bottom: 60px;
}

.query_input {
    width: 100%;
}
