{% include 'header.jinja2' %}
<div class="container">
    
{% if ready %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">{{ app_name }}</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Dashboard</a></li>
            <li><a href="/query">Query</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="starter-template">
        <div class="alert alert-danger hidden" role="alert" id="cluster_status_fail">Unable to get cluster status</div>

        <div class="row">
          <div class="col-md-2">
            <div class="list-group" id="pages_switcher">
                <a href="#summary" class="list-group-item" id="item_summary">Summary</a>
                {% for instance in instances %}
                    <a href="#{{ instance | replace('.','_')}}" id="item_{{ instance | replace('.','_')}}" class="list-group-item">{{ instance }}</a>
                {% endfor %}
                <a href="#control" class="list-group-item list-group-item-info" id="item_control">Control</a>
            </div>
          </div>
          <div class="col-md-10" id="pages">
            <div class="panel panel-default" id="page_summary">
              <div class="panel-heading">
                <h3 class="panel-title">Summary</h3>
              </div>
              <div class="panel-body">
              </div>
            </div>

            {% for instance in instances %}
            <div class="panel panel-default hidden" id="page_{{ instance | replace('.','_')}}">
              <div class="panel-heading">
                <h3 class="panel-title">Instance {{ instance }}</h3>
              </div>
              <div class="panel-body">
              </div>
            </div>
            {% endfor %}

            <div class="panel panel-default hidden" id="page_control">
              <div class="panel-heading">
                <h3 class="panel-title">Control</h3>
              </div>
              <div class="panel-body">
                  <button class="btn btn-default" id="start_cluster">Start</button>
                  <button class="btn btn-default" id="stop_cluster">Stop</button>
              </div>
              <pre id="playbook_output"></pre>
            </div>
          </div>
        </div>
    </div>

    <script>
        $(document).ready(function() {
            get_cluster_status();
            setInterval(function() {
                get_cluster_status();
            }, 5000);
        })
    </script>
{% else %}
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ app_name }}</a>
            </div>
        </div>
    </nav>

    <div class="starter-template">
    <div class="text-center">
    <h1>PhoenixDB cluster is not initialized</h1>
        <a href="/setup" class="btn btn-default">Start installation</a>
    </div>
    </div>
{% endif %}
    
</div>
{% include 'footer.jinja2' %}
