{% include 'header.jinja2' %}
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{ app_name }}</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/#">Dashboard</a></li>
        <li><a href="/query">Query</a></li>
        <li><a href="/#about">About</a></li>
        <li><a href="/#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>

{% if have_phoenixdbpy %}
    <div class="container wrap">
        <div id="results"></div>
    </div>

    <nav class="navbar navbar-fixed-bottom">
        <div class="container">
            <textarea class="query_input" id="query_input"></textarea>
        </div>
    </nav>
{% else %}
    <div class="container">
    <h1>Querying not supported. Install phoenixdbpy module!</h1>
    </div>
{% endif %}
{% include 'footer.jinja2' %}
