{% include 'header.jinja2' %}
<div class="container">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">{{ app_name }}</a>
            </div>
        </div>
    </nav>

    <div class="starter-template">
        {% if step == 1 %}
            <h1>Step 1 - Instances list</h1>
            <form role="form" method="post">
                <div class="form-group">
                    <label for="hosts">Hosts separated by newline:</label>
                    <textarea class="form-control" rows="5" id="hosts" name="hosts">{{ hosts_str }}</textarea>
                </div>
                <input type="hidden" name="step" value="2"/>
                <button type="submit" class="btn btn-default">Next</button>
            </form>
        {% elif step == 2 %}
            <h1>Step 2 - Additional info</h1>
            <form role="form" method="post">
                <div class="form-group">
                    <label for="coordinator">Coordinator instance:</label>
                    <select class="form-control" id="coordinator" name="coordinator">
                        {% for h in hosts %}
                            <option {% if coordinator == h %}selected{% endif %} >{{ h }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                  <label for="login">Login:</label>
                  <input type="text" class="form-control" id="login" name="login" value="{{ login }}">
                </div>
                <div class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control" id="password" name="password" value="{{ password }}">
                </div>
                <div class="form-group">
                    <label for="private_key">Private key:</label>
                    <textarea class="form-control" rows="5" id="private_key" name="private_key">{{ private_key }}</textarea>
                </div>
                <input type="hidden" name="step" value="3"/>
                <button type="submit" class="btn btn-default">Next</button>
            </form>
        {% elif step == 3 %}
            <h1>Step 3 - Checking instances connection</h1>
            <pre id="playbook_output"></pre>
            <div id="spinner"><span class="glyphicon glyphicon-refresh spinning"></span> Running playbook...</div>
            <script>
                $(document).ready(function() {
                    setInterval(function() {
                        get_async_playbook_status("check_connection.yml", "playbook_output", "spinner", "btn_next", null);
                    }, 1000);
                })
            </script>
            <form role="form" method="post">
                <input type="hidden" name="step" value="4"/>
                <button class="btn btn-default hidden" id="btn_next">Next</button>
            </form>
        {% elif step == 4 %}
            <h1>Step 4 - Installing</h1>
            <pre id="playbook_output"></pre>
            <div id="spinner"><span class="glyphicon glyphicon-refresh spinning"></span> Running playbook...</div>
            <script>
                $(document).ready(function() {
                    setInterval(function() {
                        get_async_playbook_status("setup.yml", "playbook_output", "spinner", "btn_next", null);
                    }, 1000);
                })
            </script>
            <form role="form" method="post">
                <input type="hidden" name="step" value="5"/>
                <button class="btn btn-default hidden" id="btn_next">Next</button>
            </form>
        {% elif step == 5 %}
            <h1>Step 5 - Initialize cluster</h1>
            <pre id="playbook_output"></pre>
            <div id="spinner"><span class="glyphicon glyphicon-refresh spinning"></span> Running playbook...</div>
            <script>
                $(document).ready(function() {
                    setInterval(function() {
                        get_async_playbook_status("init.yml", "playbook_output", "spinner", "btn_next", null);
                    }, 1000);
                })
            </script>
            <form role="form" method="post">
                <input type="hidden" name="step" value="6"/>
                <button class="btn btn-default hidden" id="btn_next">Start</button>
            </form>
        {% elif step == 6 %}
            <h1>Step 6 - First start</h1>
            <pre id="playbook_output"></pre>
            <div id="spinner"><span class="glyphicon glyphicon-refresh spinning"></span> Running playbook...</div>
            <script>
                $(document).ready(function() {
                    setInterval(function() {
                        get_async_playbook_status("start.yml", "playbook_output", "spinner", "btn_next", null);
                    }, 1000);
                })
            </script>
            <form role="form" method="get" action="/">
                <button class="btn btn-default hidden" id="btn_next">Finish</button>
            </form>
        {% endif %}
    </div>

</div>
{% include 'footer.jinja2' %}